@import url('includes/header.css');
@import url('includes/footer.css');

@font-face{
	font-family: "Roboto-Light";
	src: url('../../static/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face{
	font-family: "Roboto-Regular";
	src: url('../../static/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face{
	font-family: "Roboto-Thin";
	src: url('../../static/fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face{
	font-family: "Roboto-Bold";
	src: url('../../static/fonts/Roboto-Bold.ttf') format('truetype');
}
* {
	margin: 0;
}

body {
	background-color: #e6eae3;
}

a {
	color: #0089ff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.main-table {
	width: 100%;
}
.main-th {
	padding: 5px;
	width: 100px;
	/*text-align: center;*/
	font-family: Roboto-Regular;
	font-size: 1.3em
}

.main-tr {
	height: 5em;
	border-bottom: 1px solid #ddd;
}

.main-td {
	padding-left: 15px;
}

.main-thead {
	background-color: #2a2b2c;
	color: #ffffff;
}
/*table {
	width: 100%;
}

th {
	padding: 5px;
	width: 100px;
	text-align: center;
	font-family: Roboto-Regular;
	font-size: 1.3em
}

tr {
	height: 5em;
}

td {
	padding-left: 15px;
}

thead {
	background-color: #2a2b2c;
	color: #ffffff;
}*/

.container-fluid .heading, .container-fluid .back-btn {
	display: inline-block;
}

.container-fluid .back-btn {
	margin-bottom: 20px;
}

.container-fluid .back-btn a {
	/*margin-right: 30px;*/
	/*font-size: 2em;*/
	color: rgba(255, 255, 255, 0.8);
	background-color: #00a78e;
	padding: 10px;
	cursor: pointer;
}

.container-fluid .back-btn form input[type='submit']:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.outter-container {
	background-color: #788286;
	margin-top: 2em;

}

.outter-container div h2 {
	font-family: Roboto-Bold;
	margin-left: 15px;
}

.table-container {
	background-color: #ffffff;
	margin-bottom: 2em;
	padding: 0;
	min-height: 500px;
}

.table-center {
	text-align: center;
}

.table-container div ul {
	list-style: none;
	padding: 0;
}

.table-container div ul li {
	padding: 5px;
	border: 1px solid;
}

.float-left {
	float: left;
}

.data-container {
	display: table;
	margin: auto;
	margin-top: 30px;
	width: 90%;

}

.data-pos {
	width: 80%;
}

.head-pos {
	width: 20%;
}