@import url('includes/header.css');
@import url('includes/footer.css');
@import url('includes/about.css');

@font-face{
	font-family: "Roboto-Light";
	src: url('../../static/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face{
	font-family: "Roboto-Regular";
	src: url('../../static/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face{
	font-family: "Roboto-Thin";
	src: url('../../static/fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face{
	font-family: "Roboto-Bold";
	src: url('../../static/fonts/Roboto-Bold.ttf') format('truetype');
}
* {
	margin: 0;
}

body {
	background-color: #2a2b2c;
}

main {
	padding-bottom: 25px;
	background-color: #fff;
}

a {
	color: #0089ff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}
.container-fluid .heading, .container-fluid .back-btn {
	display: inline-block;
}

.container-fluid .back-btn {
	margin-bottom: 20px;
}

.container-fluid .back-btn a {
	/*margin-right: 30px;*/
	/*font-size: 2em;*/
	color: rgba(255, 255, 255, 0.8);
	background-color: #00a78e;
	padding: 10px;
	cursor: pointer;
}

.container-fluid .back-btn form input[type='submit']:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.outter-container {
	/*background-color: #e6eae3;*/
	margin-top: 2em;
	padding-left: 0;
}

.outter-container div h2 {
	font-family: Roboto-Bold;
	margin-left: 15px;
}

.table-container {
	/*background-color: #ffffff;*/
	margin-bottom: 2em;
	padding: 0;
	min-height: 300px;
	border: 0.5px solid #eee;
}

.table-center {
	text-align: center;
}

.table-container .data-display ul {
	list-style: none;
	padding: 0;
}

.table-container .data-display ul li {
	padding: 5px;
	border: 1px solid;
}

.float-left {
	float: left;
}

.data-container {
	display: table;
	margin: auto;
	margin-top: 30px;
	width: 90%;

}

.meta-data-td {
	border: 1px solid;
	padding: 5px;
}

.td-head {
	width: 11%;
}

.td-data {
	width: 80%
}

.data-pos {
	width: 80%;
}

.head-pos {
	width: 20%;
}
.main-table {
	width: 100%;
}
.main-th {
	padding: 15px;
	width: 100px;
	/*text-align: center;*/
	font-family: Roboto-Regular;
	font-size: 1.3em
}

.main-tr, .main-li {
	height: 5em;
	border-bottom: 1px solid #ddd;
}

.main-li {
	padding: 15px;
}

.main-td {
	padding-left: 15px;
}

.main-thead {
	background-color: #2a2b2c;
	color: #ffffff;
}

#return-to-top, .goto-back {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.goto-back {
	bottom: 72px;
}

#return-to-top i, .goto-back i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover, .goto-back:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i, .goto-back:hover i {
    color: #fff;
    top: 5px;
}

.effect1{
    -webkit-box-shadow: 8px 10px 6px -6px #777, -8px 10px 6px -6px #777;
       -moz-box-shadow: 8px 10px 6px -6px #777, -8px 10px 6px -6px #777;
            box-shadow: 8px 10px 6px -6px #777, -8px 10px 6px -6px #777;
}
