{% extends  'base.html' %}

{% block main %}
<div class="container-fluid outter-container">
	<div>
		{% if display == 2  %}
			<div class="back-btn">
				<a href="/">&#8249; Previous</a>
			</div>
		{% elif display != 1 and display != 2 %}
			<div class="back-btn">
				<a href="/{{previous}}">&#8249; Previous</a>
			</div>
		{% endif %}
		<div class="heading">
			<h2>Data Dictionary</h2>
		</div>
	</div>
</div>
<div class="container-fluid table-container">
	<div>
		{% if display == 1 %}
		<table>
			<thead>
				<tr>
					<th>Project Name</th>
					<th>Description</th>
					<th>Range</th>
				</tr>
			</thead>
			<tbody>
				
				{% for project in projects %}

					<tr>
						<td class="center"><a href="/{{project}}">{{ project }}</a></td>
					</tr>

				{% endfor %}
				<!-- <tr>
					<td class="table-center">Spanish</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</td>
					<td class="table-center">2007-2017</td>
				</tr>
				<tr>
					<td class="table-center">Kingston</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</td>
					<td class="table-center">2007-2017</td> -->
				</tr>
			</tbody>
		</table>
		{% elif display == 2 %}
			<ul>
				{% for project in projects %}

					<li><a href="/{{ project }}">{{ project }}</a></li>

				{% endfor %}
			</ul>

		{% elif display == 3 %}
			<table>
				<thead>
					<tr>
						<th>Variable Name</th>
					</tr>
					<tr>
						<th>Variable Label</th>
					</tr>
				</thead>
				<tbody>
					{% for data_name, data_label in data_name %}
						<tr>
							<td>data_name</td>
						</tr>
						<tr>
							<td>data_label</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<ul>
				{% for project in projects %}

					<li><a href="/{{ project }}/data">{{ project }}</a></li>

				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>

{% endblock %}