{% extends  'base.html' %}

{% block main %}

<a href="javascript:" class="goto-back"><i class="fa fa-arrow-left"></i></a>

<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>

<div class="outter-container">
	<div>
		{% if display == 2  %}
			<div class="back-btn">
				<a href="/">&#8249; Previous</a>
			</div>
		{% elif display == 4 %}
			<div class="back-btn">
				<a href="" id="goto-back">&#8249; Previous</a>
			</div>
		{% elif display != 1 and display != 2 %}
			<div class="back-btn">
				<a href="/{{previous}}">&#8249; Previous</a>
			</div>
		{% endif %}
		<div class="heading">
			<h2>CAIHR Data Dictionary</h2>
		</div>
	</div>
</div>
<div class="table-container effect1">
	<div>
		{% if display == 1 %}
		<table class="main-table">
			<thead class="main-thead">
				<tr class="main-tr">
					<th class="main-th">Project Name</th>
					<!-- <th class="main-th">Description</th>
					<th class="main-th">Range</th> -->
				</tr>
			</thead>
			<tbody>
				
				{% for project in projects %}

					<tr class="main-tr">
						<td class="center main-td"><a href="/{{project}}">{{ project }}</a></td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
		{% elif display == 2 %}
			<ul>
				{% for project in projects %}

					<li class="main-li"><a href="/{{ project }}">{{ project }}</a></li>

				{% endfor %}
			</ul>

		{% elif display == 3 %}
			<table class="table table-striped">
				<thead class="main-thead">
					<tr>
						<th>Variable Name</th>
						<th>Variable Label</th>
					</tr>
				</thead>
				<tbody>
					{% for data_name, data_label in data: %}
						<tr>
							<td><a href="/{{ data_name }}/data">{{ data_name }}</a></td>
							<td>{{ data_label }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% elif display == 4 %}
			<div class="data-container">
				<div class="fixer-container">
					<table>
						<tbody>
							{% for head,data in results %}
								<tr>
									<td class="meta-data-td td-head">{{ head }}</td>
									{% if data == '' %}
										<td class="meta-data-td td-data">N/A</td>
									{% else %}
										<td class="meta-data-td td-data">{{ data }}</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}
	</div>
</div>

{% endblock %}